body {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  color: white;
  background-color: #849d8f;
}

h1 {
  font-size: 35px;
  line-height: 41px;
}

h2 {
  font-size: 60.35px;
  line-height: 41px;
}

a {
  color: white;
}

.wrap {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}

.dropdown,
.shop-buttons form,
.basket,
.main {
  display: none;
}

.logo {
  float: left;
}

.main-nav li:first-child {
  float: left;
}

.main-nav li:nth-child(2) {
  float: left;
}

.card-razz {
  width: 560px;
  float: left;
}

.ice-orange,
.ice-brown,
.ice-pink {
  width: 267px;
  float: left;
}

.shop-buttons a {
  float: right;
}

.timetable {
  float: right;
}

.phone {
  float: right;
}

.card-choco {
  width: 560px;
  float: right;
}

ul {
  list-style: none;
}
