body {
  font-weight: bold;
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 18px;
  color: white;
  background-color: #849d8f;
}

h1 {
  font-size: 35px;
  line-height: 41px;
}

h2 {
  font-size: 60.35px;
  line-height: 41px;
}

a {
  color: white;
}

ul {
  list-style: none;
}

.wrap {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  box-sizing: border-box;
}

.dropdown,
.shop-buttons form,
.basket,
.main {
  display: none;
}

.logo {
  float: left;
  width: 154px;
}

.main-nav {
  font-size: 16px;
}

.main-nav li:first-child {
  float: left;
  margin-right: 27px;
}

.main-nav li:nth-child(2) {
  float: left;
  margin-right: 29px;
}

.shop-buttons a {
  float: right;
  text-decoration: none;
}

.product {
  color: #323232;
}

.basket {
  color: #323232;
  background-color: #f8f7f4;
}

.basket i {
  color: #999999;
}

.basket .price {
  margin-left: 29px;
  color: #999999;
}


.timetable {
  float: right;
  font-size: 14px;
}

.header-phone {
  float: right;
  font-size: 22px;
  text-decoration: none;
}

.phone {
  color: #323232;
  text-decoration: none;
}

.visually-hidden {
  visibility: hidden;
}

.breadcrumbs {
  font-size: 14px;
}

.slider-button {
  text-decoration: none;
}

.card-razz {
  float: left;
  width: 48.84%;
  background-color: #8f1e3f;
}

.catalog-item {
  float: left;
  width: 23.3%;
  margin-right: 26px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.card-choco {
  float: right;
  width: 48.84%;
  background-color: #583316;
}

.ice-name {
  font-weight: normal;
  font-size: 16px;
}

.settings {
  font-size: 16px;
}

.field-caption {
  font-size: 14px;
}

.price {
  font-size: 14px;
}

.ice-price {
  font-size: 45px;
}

.small {
  font-size: 30px;
}

.shop {
  clear: both;
  width: 1146px;
  color: black;
  background-color: #f0e6ce;
}

.blog-preview {
  float: left;
  width: 48.8%;
  color: black;
  background-color: white;
}

.blog-preview a {
  font-size: 24px;
  color: black;
}

.email {
  float: right;
  width: 48.8%;
  color: #5a5a5a;
  background-color: #f8f7f4;
}

.map {
  clear: both;
}

.info {
  font-size: 14px;
  color:#323232;
  background-color: white;
}

.paginator a {
  text-decoration: none;
}

.bold {
  font-size: 18px;
  font-weight: bold;
}

.about-us {
  font-weight: normal;
  font-size: 13px;
}

.footer-bold {
  font-weight: bold;
}

.academy {
  float: right;
  font-weight: normal;
  font-size: 12px;
}
