body {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  color: white;
  background-color: #849d8f; 
}

h1 {
  font-size: 60px;
  vertical-align: 60.35px;
}

h2 {
  font-size: 35px;
  vertical-align: 41px;
}
